.WeatherForecast {
  text-align: center;
}
.Daily-Forecast {
  padding: 15px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.Daily-Forecast:hover {
  transform: scale(1.1);
  background: #00003B;
  color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}
.WeatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 5px;
}
